.header {
  height: 50px;
  text-align: center;
  background-color: #999;
}

.content {
  position: relative;

}

.footer {
  height: 50px;
  text-align: center;
  background-color: #999;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  background-color: blanchedalmond;
}

.middle {
  margin: 0 100px 0 150px;
  background-color: chocolate;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  background-color: cadetblue;
}
