.gap {
  margin: 0 10px;
}

.box-1 {
  height: 50px;
  margin-bottom: 10px;
  background-color: aqua;
}

.box-2 {
  height: 50px;
  margin-top: 10px;
  background-color: burlywood;
}

.box-2.margin {
  display: inline-block;
  width: 100%;
}

.parent {
  margin-bottom: 50px;
  background-color: blueviolet;
}

.parent.margin {
  overflow: hidden;
}

.child {
  margin-bottom: 30px;
  background-color: coral;

}
