.gap {
  margin: 0 10px;
}

.box1 {
  background-color: aqua;
}

.box2 {
  height: 100px;
  background-color: burlywood;
}

.float {
  float: left;
  height: 50px;
  background-color: chocolate;
}

.clear {
  clear: both;
}

.overflow {
  overflow: hidden;
}
