/* 主色 */
$main-color: #ae8f65;

/* 与主色同色系，比主色颜色更深 */
$main-dark-color: #9c8174;

/* 警告色 */
$warn-color: #e63e10;

/* 正文主色 */
$text-normal-color: #333;

/* 正文辅助色 */
$text-sub-color: #999;

/* 边框颜色 */
$border-color: #e4e4e4;

/* 背景色 */
$bg-color: #f4f4f4;

/* 禁用色 */
$disabled-color: #ccc;

/* 标题字体颜色*/
$title-color: #000000;

body {
  background-color: $bg-color;
}

::placeholder {
  color: gray;
}

